.body 
{
width: 100vw;
height: 100vh;
}
.hero-image 
{
  position: absolute;
  width: 56.25em;
  bottom: -20%;
  left: 50%;
  transform: translateX(-50%);
}
.hero-image-container 
{
  position: relative;
  width: 56.25em;
  height: 26.em;
  left: 50%;
  background-color: #22bda0;
  opacity: 0;
  overflow: hidden;
  transform: translateX(-50%);
  animation: hero-fade-in 1s 0.5s linear forwards;
}
@keyframes hero-fade-in 
{
  100% 
  {
    opacity: 1
  }
}
.screen-container 
{
  position: absolute;
  width: 17.6em;
  height: 9.5em;
  bottom: 7.75em;
  left: 40.5%;
  background: #fff url(https://cssanimation.rocks/images/courses/animation_101/emails.svg) repeat-y;
  background-size: 100% auto;
  transform: translate(-16.4%,-10%);
  animation: move-emails 5s infinite ease-out;
}
.notification 
{
  position: absolute;
  width: 4%;
  height: 3%;
  bottom: 62%;
  left: 61%;
  background: #fff url(https://cssanimation.rocks/images/courses/animation_101/notification.svg);
  background-size: 100%;
  animation: move-notification 5s infinite cubic-bezier(0.81,-0.44,0.19,1.33);
}
@keyframes move-emails 
{
  0%,24% 
  {
    background-position: 0 -4.6em;
    -webkit-animation-timing-function: cubic-bezier(0.81,-0.46,0.19,1.33);
    animation-timing-function: cubic-bezier(0.81,-0.46,0.19,1.33);
  }
  34%,60% 
  {
    background-position: 0 0
  }
  90%,100% 
  {
    background-position: 0 -78%
  }
}
@keyframes move-notification 
{
  0%,20% 
  {
    -webkit-transform: translateX(0.25em);
    transform: translateX(0.25em);
    opacity: 0
  }
  50%,58% 
  {
    -webkit-transform: none;
    transform: none;
    opacity: 1;
  }
  70%,100% 
  {
    -webkit-transform: translateX(-0.25em);
    transform: translateX(-0.25em);
    opacity: 0;
  }
}
@keyframes moon 
{
  0% 
  {
    -webkit-transform: none;
    transform: none;
    -webkit-animation-timing-function: cubic-bezier(0.25,0,0.41,1);
    animation-timing-function: cubic-bezier(0.25,0,0.41,1);
  }
  100% 
  {
    -webkit-transform: rotateZ(-360deg);
    transform: rotateZ(-360deg);
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
  }
}
.menu 
{
  text-align: center;
  border-top: 1px solid none;    
  border-bottom: 1px solid none;    
  margin-bottom: 30px;
}
/* Style each tab content individually */
#Overview {background-color:rgb(255, 251, 222);}
#Introduction {background-color:rgb(255, 251, 222);}
#Background {background-color:rgb(255, 251, 222);}
#Contact {background-color:rgb(255, 251, 222);}
/* Style the tab buttons */
.tablink 
{
  border-bottom: 1px solid none;    
  padding-bottom: 20px;
  margin-bottom: 20px;
  background-color: #cfcfcf;
  color: black;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-family: 'Vollkorn';
  font-size: 1.0em;
  width: 25%;
}
/* Change background color of buttons on hover */
.tablink:hover 
{
  background-color: #cfcfcf;
}
/* Set default styles for tab content */
.tabcontent 
{
  color: black;
  display: none;
  padding: 60px;
  text-align: center;
}
.column
{
  float: left;
  width: 33.33%;
  padding: 15px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
/* Clearfix (clear floats) */
.row::after 
{
  content: "";
  clear: both;
  display: table;
}
@media screen and (max-width: 600px) 
{
  .column 
  {
    width: 100%;
  }
}
.flip-box 
{
  background-color: transparent;
  width: 290px;
  height: 290px;
  border: .5px solid #f1f1f1;
  perspective: 1000px;
}
.flip-box-inner 
{
  position: relative;
  width: 95%;
  height: 95%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}
.flip-box:hover .flip-box-inner 
{
  transform: rotateY(180deg);
}
.flip-box-front, .flip-box-back 
{
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.flip-box-front 
{
  background-color: transparent;
  color: black;
}
.flip-box-back 
{
  background-color: #22bda0;
  color: black;
  transform: rotateY(180deg);
}
.footer
{
  display: flex;
  height: auto;
  width: 100%;
  background-color: #22bda0;
  line-height: 1;
  font-family: 'Vollkron', monospace;
}
ul 
{
  display: inline-grid;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  grid-auto-flow: row;
  grid-gap: 24px;
  justify-items: center;
  margin: auto;
  list-style: none;
}
@media (min-width: 500px) 
{
  ul 
  {
    grid-auto-flow: column;
  }
}
a:link 
{
  color: black;
  text-decoration: none;
  box-shadow: inset 0 -1px 0 hsla(0, 0%, 100%, 0.4);
}
a:hover 
{
  box-shadow: inset 0 -1.2em 0 hsla(0, 0%, 100%, 0.4);
}
li:last-child 
{
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}
li:hover ~ li p 
{
  animation: wave-animation 0.3s infinite;
}
@keyframes wave-animation 
{
  0%,
  100% 
  {
    transform: rotate(0deg);
  }
  25% 
  {
    transform: rotate(20deg);
  }
  75% 
  {
    transform: rotate(-15deg);
  }
}
